In [1]:
import pandas as pd
import matplotlib.pyplot as plt
import datetime as dt
from datetime import datetime, timedelta, date
import numpy as np
import warnings
warnings.filterwarnings('ignore')
import sqlite3

In [2]:
pip install dask

Requirement already satisfied: dask in /opt/anaconda3/lib/python3.13/site-packages (2025.2.0)
Requirement already satisfied: click>=8.1 in /opt/anaconda3/lib/python3.13/site-packages (from dask) (8.1.8)
Requirement already satisfied: cloudpickle>=3.0.0 in /opt/anaconda3/lib/python3.13/site-packages (from dask) (3.0.0)
Requirement already satisfied: fsspec>=2021.09.0 in /opt/anaconda3/lib/python3.13/site-packages (from dask) (2025.3.2)
Requirement already satisfied: packaging>=20.0 in /opt/anaconda3/lib/python3.13/site-packages (from dask) (24.2)
Requirement already satisfied: partd>=1.4.0 in /opt/anaconda3/lib/python3.13/site-packages (from dask) (1.4.2)
Requirement already satisfied: pyyaml>=5.3.1 in /opt/anaconda3/lib/python3.13/site-packages (from dask) (6.0.2)
Requirement already satisfied: toolz>=0.10.0 in /opt/anaconda3/lib/python3.13/site-packages (from dask) (1.0.0)
Requirement already satisfied: locket in /opt/anaconda3/lib/python3.13/site-packages (from partd>=1.4.0->dask) (1.0.0)
Note: you may need to restart the kernel to use updated packages.

In [3]:
import dask.bag as db
import json
import dask.dataframe as dd

In [4]:
json_bag = db.read_text('goodreads_interactions_romance.json').map(json.loads)
print(json_bag.take(3))

({'user_id': '8842281e1d1347389f2ab93d60773d4d', 'book_id': '5526', 'review_id': 'c2b5f16df9f9c716617c07326b4f2869', 'is_read': False, 'rating': 0, 'review_text_incomplete': '', 'date_added': 'Wed Mar 29 00:27:40 -0700 2017', 'date_updated': 'Wed Mar 29 00:27:40 -0700 2017', 'read_at': '', 'started_at': ''}, {'user_id': '8842281e1d1347389f2ab93d60773d4d', 'book_id': '18633693', 'review_id': '611eea84ef983e27884953b8e45b55aa', 'is_read': False, 'rating': 0, 'review_text_incomplete': '', 'date_added': 'Tue Mar 28 21:01:27 -0700 2017', 'date_updated': 'Tue Mar 28 21:01:27 -0700 2017', 'read_at': '', 'started_at': ''}, {'user_id': '8842281e1d1347389f2ab93d60773d4d', 'book_id': '22055137', 'review_id': '9f149f1a24f51b01aed5b7e465134027', 'is_read': False, 'rating': 0, 'review_text_incomplete': '', 'date_added': 'Tue Mar 28 00:02:48 -0700 2017', 'date_updated': 'Tue Mar 28 00:02:49 -0700 2017', 'read_at': '', 'started_at': ''})

In [5]:
df5 = json_bag.to_dataframe()

In [6]:
df5 = df5.compute()

In [7]:
df5.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 42792856 entries, 0 to 42792855
Data columns (total 10 columns):
 #   Column                  Dtype
---  ------                  -----
 0   user_id                 object
 1   book_id                 object
 2   review_id               object
 3   is_read                 bool
 4   rating                  int64
 5   review_text_incomplete  object
 6   date_added              object
 7   date_updated            object
 8   read_at                 object
 9   started_at              object
dtypes: bool(1), int64(1), object(8)
memory usage: 2.9+ GB

In [8]:
df5.head()

,user_id,book_id,review_id,is_read,rating,review_text_incomplete,date_added,date_updated,read_at,started_at
0,8842281e1d1347389f2ab93d60773d4d,5526,c2b5f16df9f9c716617c07326b4f2869,False,0,,Wed Mar 29 00:27:40 -0700 2017,Wed Mar 29 00:27:40 -0700 2017,,
1,8842281e1d1347389f2ab93d60773d4d,18633693,611eea84ef983e27884953b8e45b55aa,False,0,,Tue Mar 28 21:01:27 -0700 2017,Tue Mar 28 21:01:27 -0700 2017,,
2,8842281e1d1347389f2ab93d60773d4d,22055137,9f149f1a24f51b01aed5b7e465134027,False,0,,Tue Mar 28 00:02:48 -0700 2017,Tue Mar 28 00:02:49 -0700 2017,,
3,8842281e1d1347389f2ab93d60773d4d,23677430,2580d955cfa3a14d0ba0de08efec5812,False,0,,Mon Mar 27 22:40:46 -0700 2017,Mon Mar 27 22:40:47 -0700 2017,,
4,8842281e1d1347389f2ab93d60773d4d,23002924,d667682ff9ae2b71b1657570a16c4a73,False,0,,Mon Mar 27 22:01:41 -0700 2017,Mon Mar 27 22:01:41 -0700 2017,,

In [9]:
df5.to_csv('goodreads_rominteractions.csv')

In [11]:
df5.shape

(42792856, 10)

In [12]:
df5.tail()

,user_id,book_id,review_id,is_read,rating,review_text_incomplete,date_added,date_updated,read_at,started_at
42792851,594c86711bd7acdaf655d102df52a9cb,20317106,86ec4749669c8d9c20f5df44e496bfae,True,3,,Fri Apr 25 05:11:35 -0700 2014,Mon Jan 12 12:15:19 -0800 2015,,
42792852,594c86711bd7acdaf655d102df52a9cb,9722217,5e169a9669b40851dc71a772dafabdcd,False,0,,Thu May 23 12:54:45 -0700 2013,Thu May 23 12:54:45 -0700 2013,,
42792853,594c86711bd7acdaf655d102df52a9cb,3085858,72fa5e06f3fac447acdc64f613de9fe5,True,4,,Sat Apr 20 15:27:27 -0700 2013,Sun Apr 21 14:21:29 -0700 2013,,
42792854,594c86711bd7acdaf655d102df52a9cb,4747532,dda2cb6efd489a25e538679d251cbcc1,True,4,,Sat Apr 20 15:26:09 -0700 2013,Sun Apr 21 14:21:28 -0700 2013,,
42792855,594c86711bd7acdaf655d102df52a9cb,16182348,c5b925c7bd6e1efadd6aa2c26bd5ae6a,True,4,,Sat Apr 20 15:13:59 -0700 2013,Sun Apr 28 08:56:56 -0700 2013,,